
#ui-datepicker-div {
  display: none;
}

#edit_div_custom {
  font-size: 20px;
}

#bad_website_custom {
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.left-col {
  padding-top: 100vh;
}

#sticky_footer_wrap #business_name {
  width: 80%;
}
#sticky_footer_wrap #business_website {
  width: 100%;
}
#sticky_footer_wrap #business_address {
  width: 100%;
}

/* ZENBURN */
#sticky_footer_wrap {
  background: #464646;
}

#sticky_footer_wrap p, em {
  color: #ffcfaf;
}

#sticky_footer_wrap h4 {
  color: #dcdccc;
}

#sticky_footer_wrap #header-bg {
  background: #1e2320;
}

#sticky_footer_wrap #sub-header-bg {
  background: #3f3f3f;
}

#sticky_footer_wrap #nav li a {
  color: #cc9393;
}

#sticky_footer_wrap #sub-header h2 {
  color: #dcdccc !important;
  text-shadow: none;
}

#sticky_footer_wrap #sub-nav li a {
  color: #dcdccc;
  text-shadow: none;
}


#sticky_footer_wrap label {
  color: #dfdec5;
}

#sticky_footer_wrap input {
  background: #2f3330;
  /* color: #709080; */
  color: #b7d7b3;
  border: 0px;
}

#sticky_footer_wrap h3 {
  color: #dcdccc;
}

#sticky_footer_wrap a {
  color: #ecbcbc;
  /* color: #b7d7b3; */
  
}

#sticky_footer_wrap a#view_my_listing {
  background: #8f8f8f !important;
  color: #dcdccc;
}

#sticky_footer_wrap #subcategory_list li {
  color: #cc9393;
}

#sticky_footer_wrap * {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

#sticky_footer_wrap .blue {
  background: #2f3330 !important;
}

#sticky_footer_wrap td span {
  color: #dcdccc;
  font-weight: 300;
  letter-spacing: .0375em
}

#sticky_footer_wrap tbody {
  background: #3f3f3f;
  color: #f0dfaf;
}

#sticky_footer_wrap td a {
  color: #b7d7b3;
}

#sticky_footer_wrap #business_list td a {
  color: #709080;
}

#sticky_footer_wrap tr.odd {
  background: #464646;
}

#sticky_footer_wrap table.data th {
  background: #1e2320;
  color: #bca3a3;
}

#sticky_footer_wrap #duplicates_form table.data.duplicate_businesses thead tr th[data-is-sortable] {
  color: #dca3a3;
}

#sticky_footer_wrap #business_list th {
  border: 1px solid #dcdccc;
}

#sticky_footer_wrap #duplicates_form table.data.duplicate_businesses tbody tr:hover {
  background: #1e2320 !important;
}


/* CATEGORIES */
#sticky_footer_wrap #categories_form div {
  background: #2f3330;
}

#sticky_footer_wrap .update_primary_button {
  background: #1e2320;
}


/* businesses/:id/ads */
#sticky_footer_wrap #adforge_list_header {
  background: #3f3f3f;
  text-shadow: none;
  box-shadow: none;
}

#sticky_footer_wrap #adforge_list_header h3 {
  color: #dcddcc;
}

#sticky_footer_wrap #adforge_list_header .ol_list {
  box-shadow: none;
}

#sticky_footer_wrap .ol_lightgrey_gradient {
  background: #3f3f3f;
  border: 1px solid #6f6f6f;
}

#sticky_footer_wrap .ol_lightgrey_gradient .ol_list_title {
  color: #f0dfaf;
}

#sticky_footer_wrap .ol_lightgrey_gradient .ol_list_title h4 {
  color: #709080;
}

#sticky_footer_wrap .ol_lightgrey_gradient .ol_list_details {
  color: #dcdccc;
}

/* businesses/?query=:query */
#sticky_footer_wrap #business_list td a {
  color: #9fafaf !important;
}
#sticky_footer_wrap #business_list tr.level_1 td {
  background: #6f6f6f;
}

#sticky_footer_wrap .sub-nav-active a {
  background: #464646 !important;
  color: #dcdccc !important;
}

#sticky_footer_wrap .accounts li.odd { 
  background: #3f3f3f;
}


